<h1>
    <%= product.name %>
</h1>
<div class="products-container">
    <img class="products-image" src="/images/<%= product.image_groups[0].images[0].link %>"
        alt="<%= product.image_groups[0].images[0].alt %>">
    <div class="products-details">
        <p>
            <%= product.page_description %>
        </p>
        <div class="buy-price-container">
            <button class="buy-button">Buy Now</button>
            <p>Price: <span id="price">
                    <%= product.price %>
                </span>
                <select class="currency-select">
                    <option value="RON" data-price="<%= product.price %>" selected>RON</option>
                    <option value="EUR" data-price="<%= eurPrice %>">EUR</option>
                    <option value="TRY" data-price="<%= tryPrice %>">TRY</option>
                    <!-- More currency options can be added here -->
                </select>
            </p>
        </div>
    </div>
</div>
<script src="/javascripts/products.js"></script>
